@charset "UTF-8";

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
* {
    font: 500 1em sans-serif;
}
.conteinar {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

/* ヘッダー　*************************************************************************************/
.header {
    color: #fff;
    background: rgb(248, 174, 174);
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1vh 0;
    z-index: 1;
}
.header > .conteinar{
    height: 8vh;
    display: flex;
    align-items: center;
}

/* ヘッダーロゴ */
.headerImg .logo {
    display: block;
}
.headerImg .logo img {
    height: 4em;
    vertical-align: bottom;
}
/* ヘッダー検索 */
.headerSearch {
    width: 500px;
    margin: auto;
}
#header .gsc-control-cse {
     padding: 0; 
}
#header .gsc-control-cse {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.gsc-search-button-v2 {
    cursor: pointer;
}
/* ヘッダーハンバーガーボタン */

.hamSwitch {
	position: relative;
	width: 55px;
	height: 55px;
	cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-shadow: 0px 0px 10px;
    
}
.hamSwitch:hover {
    opacity: 0.7;
}
.hamLine {
	position: absolute;
	left: 10px;
	width: 36px;
	height: 3px;
	background-color: #333333;
    transition: .7s;
}
.hamLine1 {
	top: 13px;
}
.hamLine2 {
	top: 25px;
}
.hamLine3 {
	top: 37px;
}
.line_1 {
    transform: translateY(26px) rotate(-45deg);
    top: 0;
}
.line_2 {
    opacity: 0;
}
.line_3 {
    transform: translateY(-10px) rotate(45deg);
    bottom: 0;
}
/* ヘッダーレスポンシブ /////////////////////////////////////////////////////////////*/
@media ( max-width: 800px ){
    .header {
        padding: 0;
        padding-top: 1vh;
    }
    .header > .conteinar {
        height: 13vh;
        padding: 0;
        flex-direction: column;
    }
    .headerImg .logo img {
        height: 3em;
    }
    .hamSwitch {
        position: absolute;
        top: 10%;
        right: 3%;
    }
    .headerSearch { 
        width: 70%;
    }
}
@media ( max-height: 660px ){
    .header > .conteinar {
        height: 25vh;
    }
}


/* ホーム *********************************************************************************/
/* ホームメイン  */
.main {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

/* ホーム　メインコンテンツ */
.mainContent {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 9vh;
    left: 0; 
}
/* ホーム　サブコンテンツ */
.subContent {
    position: absolute;
    height: 90vh;
    width: 30%;
    top: -80vh; /* -1 * (サブコンテンツ高さ　-　ヘッダーの高さ) */
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .7s;
    
}
.in {
    transform: translateY(100%);
}
/* ホームコンテンツ　レスポンシブ ////////////////////////////////////////////////////////*/

@media ( max-width: 800px ) {
    .mainContent {
        top: 14vh;
        height: 85vh; /* (100vh - ヘッダーの高さ) - 1vh */
    }
    .subContent {
        top: -72vh; /* -1 * (サブコンテンツ高さ　-　ヘッダーの高さ) */
        width: 100%;
        height: 86vh;
    }
}
@media ( max-height: 660px ){
    .mainContent {
        top: 25vh;/* -1 * (サブコンテンツ高さ　-　ヘッダーの高さ) */
        height: 74vh; /* (100vh - ヘッダーの高さ) - 1vh */
    }
    .subContent {
        top: -50vh;/* -1 * (サブコンテンツ高さ　-　ヘッダーの高さ) */
        height: 75vh;
    }
}
@media ( max-height: 450px){
    .subContent {
        overflow:scroll;
    }
} 

/* アコーディオンメニュー ***************************************************************************/
.accordion  p {
    margin: 1%;
}
.accordion {
    margin: 0 auto;
  }
  .menu {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 120%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  .aicon1::after {
    font-family: "Font Awesome 5 Free";
    content: '\f0d9';
    font-weight: 900;
    margin-left: 15%;
  }
  .aicon2::after {
    font-family: "Font Awesome 5 Free";
    content: '\f0d7';
    font-weight: 900;
    margin-left: 15%;
  }
  .menu:hover{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .contents {
    text-align: center;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.5s;
    margin: 0;
  }
   
  .contents.is-open {
    padding: 10px;
    line-height: normal;
    height: auto;
    opacity: 1;
  }
  
  .contents > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 0.5em;
    color:rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .contents > li:hover {
      opacity: 0.6;
      color:rgba(255, 255, 255, 1);
  }
  /* iframe要素 ********************************************************************:*/
  .iframeTitle {
      text-align: center;
  }
  /* フォーム */
  .contents p {
      text-align: center;
  }
  label.error {
	display:block;
	background-color:rgb(73, 163, 81);
	color:#ffffff;
	margin:5px 0 0;
	padding:5px;
    max-width: 30%;
}
@media ( max-width: 500px ) {
 label.error {
    max-width: 100%;
    }
}
/* スライドショー */

 .slideshow{
    margin: 2em auto;
    width: 80%;
}
.slideshow img{
    height: 50%;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}